@import url("./base.css");

body {
    background: linear-gradient(0.25turn, var(--clr-primary-7), var(--clr-primary-8), var(--clr-primary-9));
}

.navbar {
    background-color: var(--clr-primary-5);
}

.navbar-brand {
    color: var(--clr-primary-10);
    font-size: var(--xx-big-font-size);
    font-family: Lobster;
}

.navbar-brand:hover {
    color: var(--clr-primary-10);
    opacity: 0.7;
}

.form-label {
    color: var(--clr-primary-5);
    font-weight: 900;
    font-family: Lobster;
    font-size: var(--x-big-font-size);
    display: flex;
    justify-content: center;
}

.form-control {
    padding: 2%;
    border: unset;
    outline: unset;
    border-radius: 0;
    color: var(--clr-primary-5);
}

.btn-light:active,
.btn-light {
    border-radius: 0;
    color: var(--clr-primary-5) !important;
}

.btn-light:hover {
    color: var(--clr-primary-5);
    opacity: 0.8;
}

.form-control:focus {
    border-color: unset;
    box-shadow: unset;
    color: var(--clr-primary-5)
}

.videos-header {
    color: var(--clr-primary-5);
    font-weight: 900;
    font-family: Lobster;
    text-align: center;
}

.btns-group {
    display: flex;
    justify-content: center;
}

.lv-p,
.video-title-header {
    color: var(--clr-primary-5);
    text-align: center;
}

.pagination > li > a
{
    background-color: white;
    color: var(--clr-primary-5);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--clr-primary-5) !important;
    border: solid 1px var(--clr-primary-5) !important;
}

.pagination > .active > a:hover
{
    background-color: var(--clr-primary-5) !important;
    border: solid 1px var(--clr-primary-5);
}